beautifulsoup4==4.13.4
ccxt==4.4.89
cryptography==44.0.2
fastapi==0.115.14
filetype==1.2.0
numpy==2.2.3
pandas==2.2.3
pandas_ta==0.3.14b0
pathlib==1.0.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.4
setuptools==79.0.1
textblob==0.19.0
tomlkit==0.13.2
tqdm==4.67.1
urllib3==2.4.0
uvicorn==0.35.0
websocket==0.2.1
websockets==15.0.1
wheel==0.45.1
openai
jose
stripe
passlib[bcrypt]
google-auth
docx
PyMuPDF
databases
sqlalchemy